*{
    margin:0;
    border: border-box;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #131921;
    font-size: 14px;
    height: 70px;
    width: 100%;
    color: #fff;
    
}
.navlogo{
    height: 50px;
    width: 110px;
   
    border: 2px solid transparent;
    border-radius: 2px;
}
.logo{
    background-image: url(pictures/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.navlogo:hover {
    border: 2px solid white;
    border-radius: 5px;
}


.navbar{
    display: flex;
    align-items: center;
    
}
.location-icon{
    display: flex;
    align-items: center;
    
}
  
.nav-2nd-font{
    font: size 12px;
    font-weight: 700;
}

/** box-2 address **/
.nav-address{
    height: 50px;
    width: fit-content;
    border: 2px solid transparent;
    margin: 5px 2px;
    padding: 0 5px  ;
    display: flex;
    align-items: center;
}


.address-1{
    color: #cccc;
    font-size: 0.85rem;
    font-family:  'Arial Narrow italic', sans-serif;
    margin-left: 11px ;
    
}
 .address-2{
    font-size: 1rem;
    margin-left: 2px;
 }
 .nav-address:hover{
    border: 2px solid white;
    border-radius: 5px;
 }
 /** box-3 **/

 .nav-search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    height: 40px;
    width:50%;
    border-radius: 5px;
    margin: 0 10px;
    

 }
 .nav-search:hover{
    border: 2px solid #fcbd35;
    border-radius: 5px;
 }
 .search-select{
    height: 40px;
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
 }
 .search-input{
    font-size: larger;
    height: 40px;
    width:100%;
    padding: 0 0 0 10px;
    border: none;

 }
 .search-icon{
    color:#131921;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width:40px;
    background-color:#fcbd35 ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
 } 
 .search-icon:hover{
    background-color: #f49e13;
 }

 /** box-4 **/
 .nav-lang{
    display: flex;
    height: 50px;
    width: 70px;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid transparent;
    margin: 10px;
    padding: 2px;
 }
 .nav-lang:hover{
    border: 2px solid white;
    border-radius: 5px;
 }
 .lang-select{
    background-color: #131921;
    color: white;
    border: 0 ;
 }

 /** box-5 **/
 .nav-signin{
    height: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    margin: 10px;
    padding: 2px;
 }
 .nav-signin:hover{
    border: 2px solid white;
    border-radius: 5px;
 }

 span{
    font-size: 0.85rem;
    font-family:  'Arial', sans-serif;
    margin: 2px;

 }
 /** box-6  **/
 .nav-orders{
    height: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    margin: 10px;
    padding: 2px;
 }
 .nav-orders:hover{
    border: 2px solid #fff;
    border-radius: 5px;
 }
 /** box-7 **/
 .nav-cart{
    height: 50px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    margin: 10px;
    padding: 2px;

 }
 .nav-cart i{
    font-size: 30px;
 }

 .nav-cart .nav-2nd-font{
    margin-left: 5px;
 }

 .nav-cart:hover{
    border: 2px solid #fff;
    border-radius: 5px;
 }

 /** panel  styling **/
.panel{
    height: 40px;
    background-color:#24303e ;
    display: flex;
    align-items: center;
  
   
   
   
}
.panel-all{
    height: 35px;
    width:fit-content;
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
    color: #f3f3f3;
    font-size: 20px;
    border: 2px solid transparent;
    padding: 0 5px;

}
.panel-all:hover{
    border: 2px solid white;
    border-radius: 5px;
}
.panel-all div{
   padding: 0 0 0 5px ;
    font-weight: 700;
    font-size: 16px;
}
.panel-all i{
    font-size: 25px;
}
.panel-list a{
    text-decoration: none;
    color: #fff;
}
.panel-list{
    height: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    list-style-type: none;
    color: #fff;
   
}
.panel-list li{
   display: flex;
   align-items: center;
   height: 40px;
   width: fit-content;
   padding: 0 10px;
   border: 2px solid transparent;
}
.panel-list li:hover{
   border: 2px solid white;
   border-radius: 5px;
}
.panel-deals{
   height: 40px;
   width: 50%;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: right;
}
.panel-deals div{
   display: flex;
   align-items: center;
   height: 40px;
   width: fit-content;
   border: 2px solid transparent;
   padding: 0 10px;

}
.panel-deals div:hover{
   border: 2px solid white;
   border-radius: 5px;
}
.panel-deals a{
   text-decoration: none;
   color: #fff;
   font-weight: 700;
}
/**  hero section  **/
.hero-section{
   height: 400px;
   background-size: cover;
   background-image: url(pictures/hero_image.jpg);
   display: flex;
   justify-content: center;
   align-items: end;
}
.hero-message{
   background-color: #f3f3f3;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 50px;
   height: 35px;
   width: 90%;
   border-radius: 5px;
}
.hero-message a{
   text-decoration: none;
   color:#00489b;
}
/** shoping box content  **/

.shoping-boxes{
   display: grid;
  grid-template-columns: 30% 30% 30% ;
  justify-content: space-evenly;
   height: 1200px;
   background-color:#e2e7e7;
  padding: 1%;
  

}
.shoping-boxes div{

   border: 2px solid rgba(29, 53, 78, 0);
   margin: 5px;
   border-radius: 5px;
   background-color: #ffffff;
   margin: 15px 0 15px 0;
   align-content: space-evenly;
}
.shoping-boxes .box-img {
   height: 80%;
   border: none;
   border-radius: 0;
   margin: 0;

}
.shoping-boxes h2{
   height: 8%;
   font-size:19px;
   padding: 3px 0 0 5px;
}
.shoping-boxes p{
   padding: 0 0 0 5px;
   height: 8%;
   align-content: center;
}
.shoping-boxes a{
   text-decoration: none;
   color: #0d6c8b;
}
.box-img {
   height: 100px;
   max-width: 100%;
  
}
/** footer **/
.footer-panel1{
   background-color: #34475c;
   height: 50px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

}
footer a{
   text-decoration: none;
   color: #e2e7e7;
}
/* panel2 */

.footer-panel2{
   display: flex;
   justify-content: space-evenly;
  padding: 40px 0 40px 0;
   height: 300px;
   background-color: #232f3e;
   color: #fff;
}
.sec{
   width: 17%;
   display: block;
   
}

.sec p{
   font-size: large;
   font-weight: 800;
   margin: 0 0 10px;
}

.sec ul {
   list-style-type: none;
   text-align: start;
}
ul a{
   display: block;
   margin: 0 0 10px;
}
/** panel3 **/

.footer-panel3{
   height: 100px;
   display: flex;
   width: 100%;
   border-top: 0.5px solid #a8a8a8;
   background-color: #232f3e;
   justify-content: center;
   align-items: center;
}
.logo{
   height: 60px;
   width: 110px;
  
   border: 1px solid transparent;
   border-radius: 2px;

}
.footer-lang{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height:50px ;
   width: 80px;
   color: #f3f3f3;
   padding: 0 10px 5px;
   margin: 0 5px 5px;
   border: 1px solid transparent;
   border-radius: 3px;
}
.footer-panel3 p{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   font-size:large;
   font-weight: 700;
   color: #e2e7e7;
   padding: 0 10px 5px;
   margin: 0 5px 5px;
   border: 1px solid transparent;
   border-radius: 3px;
   height:50px ;
   width: 80px;

}
.footer-panel3 :hover{
   border: 1px solid #a8a8a8;
   border-radius: 3px;
}
.footer-lang:hover{
   border: 1px solid #a8a8a8;
   border-radius: 3px;
}
.footer-panel4 a{
   text-decoration: none;
   color:#e2e7e7;
   margin: 10px;
}
.footer-panel4{
   height: 60px;
   width: 100%;
 /**   display: flex;
   justify-content: center;
   align-items: center;  **/
   background-color: #17202b;
   color: #f3f3f3;
   text-align: center;
   padding: 15px;
   
}


